content {
    display: flex;
    flex-direction: column;
    font-family: var(--font-inter); 
}

#count_questions {
    margin: 20px;
    font-size: 2em;
    font-weight: 600;
    max-width: 70%;
}

#questions {
    display: flex;
    flex-direction: row;
    gap: 5px;
    max-width: 70%;
}

.hidden_block {
    animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#answers {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 70%;
    top: 50vh;
    height: 70vh;
}

img {
    width: 0.7em;
}

.question-block {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.answer_block {
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 16.17px;
    cursor: pointer;
}

.answer_block:hover {
    background-color: #f0f0f0;
}

.correct {
    border: 2px solid #00ff00;
    padding: 10px;
    border-radius: 16.17px;
}

.incorrect {
    border: 2px solid red;
    padding: 10px;
    border-radius: 16.17px;
}

.animated_slideDown {
    animation: slideDown 2s ease forwards;
    z-index: -2;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40vh);
        opacity: 0;
    }
}